<a href="https://colab.research.google.com/github/DanielValadez/Computo_en_la_Nube/blob/main/1_2Introduccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def enclosing_func():
  m = 13
  def local():
    print(m, 'printing from the local scope')
  local()
m = 5

print(m, 'printing from the global scope')
enclosing_func()

5 printing from the global scope
13 printing from the local scope

In [2]:
class Bike:
  def __init__(self, colour, frame_material):
    self.colour = colour
    self.frame_material = frame_material

  def brake(self):
    print("Braking!")

red_bike = Bike('red', 'carbon fiber')
blue_bike = Bike('Blue', 'steel')

print(red_bike.colour)
print(red_bike.frame_material)
print(blue_bike.colour)
print(blue_bike.frame_material)

red_bike.brake()

red
carbon fiber
Blue
steel
Braking!

In [3]:
s = 'Hello There'
s.removeprefix('Hell')

a = "The trouble is you think you have time."
a[0]
a[:]

greet_old = 'Hello %s!'
greet_old % 'Fabrizio'
'Hello Fabrizio!'

keyword = 'Hello, my name is {name} {last_name}'
keyword.format(name='Fabrizio', last_name='Romano')

'Hello, my name is Fabrizio Romano'

In [4]:
a = [1, 2, 1, 3]
a.append(13)
print(a)
a.count(1)
a.extend([5, 7])
print(a)
a.index(13)
a.insert(0, 17)
print(a)
a.pop()
a.pop(3)
a.remove(17)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.clear()
print(a)

[1, 2, 1, 3, 13]
[1, 2, 1, 3, 13, 5, 7]
[17, 1, 2, 1, 3, 13, 5, 7]
[1, 2, 3, 13, 5]
[5, 13, 3, 2, 1]
[1, 2, 3, 5, 13]
[]

In [5]:
income = 15000
if income < 10000:
   tax_coefficient = 0.0 #1
elif income < 30000:
   tax_coefficient = 0.2 #2
elif income < 100000:
   tax_coefficient = 0.35 #3
else:
   tax_coefficient = 0.45 #4
print(f'You will pay: ${income * tax_coefficient} in taxes')

You will pay: $3000.0 in taxes

In [6]:
alert_system = 'console'
error_severity = 'critical'
error_message = 'OMG! Something terrible happened!'

if alert_system == 'console':
 print(error_message) #1
elif alert_system == 'email':
 if error_severity == 'critical':
  send_email('admin@example.com', error_message) #2
 elif error_severity == 'medium':
  send_email('support.1@example.com', error_message) #3
 else:
  send_email('support.2@example.com', error_message) #4

OMG! Something terrible happened!

In [7]:
people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
for position in range(len(people)):
 person = people[position]
 age = ages[position]
 print(person, age, '\n')

people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
instruments = ['Drums', 'Keyboards', 'Bass', 'Guitar']
for person, age, instrument in zip(people, ages, instruments):
 print(person, age, instrument)

Nick 23

Rick 24

Roger 23

Syd 21

Nick 23 Drums
Rick 24 Keyboards
Roger 23 Bass
Syd 21 Guitar

In [8]:
people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
for position in range(len(people)):
 person = people[position]
 age = ages[position]
 print(person, age, '\n')

people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
instruments = ['Drums', 'Keyboards', 'Bass', 'Guitar']
for person, age, instrument in zip(people, ages, instruments):
 print(person, age, instrument)

Nick 23

Rick 24

Roger 23

Syd 21

Nick 23 Drums
Rick 24 Keyboards
Roger 23 Bass
Syd 21 Guitar

In [9]:
people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
for position in range(len(people)):
 person = people[position]
 age = ages[position]
 print(person, age)

people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
instruments = ['Drums', 'Keyboards', 'Bass', 'Guitar']
for person, age, instrument in zip(people, ages, instruments):
 print('\n')
 print(person, age, instrument)

Nick 23
Rick 24
Roger 23
Syd 21


Nick 23 Drums


Rick 24 Keyboards


Roger 23 Bass


Syd 21 Guitar

In [10]:
def minimum(*n):
 # print(type(n)) # n is a tuple
 if n: # explained after the code
  mn = n[0]
  for value in n[1:]:
   if value < mn:
    mn = value
   print(mn)
minimum(1, 3, -7, 9)
minimum()

1
-7
-7